*.zig text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.zon text eol=lf
*.json text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.patch text eol=lf
*.toml text eol=lf
