[submodule "tests/wpt"]
	path = tests/wpt
	url = https://github.com/lightpanda-io/wpt
[submodule "vendor/nghttp2"]
	path = vendor/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/curl/curl.git
[submodule "vendor/brotli"]
	path = vendor/brotli
	url = https://github.com/google/brotli
